button:hover:before {
    content: url('../glovecursor2.png');
    position:absolute;
    left: 180px
}

.progress-bar{
    position: relative;
    height: 20px;
    width: 350px;
    border-radius: 50px;
    border: 1px solid #333;

}

.status-container{
    margin-left: 20px;
}

.filler{
    background: #48a51d;
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}

.game-rows {
    max-height: 60vh;
    display: flex;
    flex-direction: row;
}

.game-cols {
    width: 45vw;
}

.game-cols > div {
    height: 45vh;
}

.game-cols > div > img {
    height: 100%;
    width: 50%;
}

.select-row{
    padding-top: 7vh;
    align-content: center;
    justify-content: center;
    display: flex;
}

.select-col {
    max-width: 50vw;
}

.action-display-row{
    margin-top: 75px;
}